@model MyLittleCMS.Core.Domain.Entities.MembershipUser
@{

    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>@Model.Email</h3>
<h3>@Model.UserName</h3>
<h3>@Model.IsApproved</h3>
<h3>@Model.PasswordHashed</h3>


<p>Use this area to provide additional information.</p>
